# Ignore raw data
data/raw/census/

# Temporary data
data/tmp/

# Python
__pycache__/
*.pyc
.ipynb_checkpoints/

# Generated figures
figures/*
!figures/precision_recall_curve.png
!figures/calibration_plot.png
*.html

# Temporary/Scratch
src/scratch/
notebooks/scratch/
*_tmp.*

